:root {
	/* color set */
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);

	--off-white: hsl(36, 100%, 99%);
	--grayish-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--very-dark-blue: hsl(240, 100%, 5%);

	--fs-family: "Inter", sans-serif;
	--fs-400: 400;
	--fs-700: 700;
	--fs-800: 800;

	--spacing: 0.6rem;
	--spacing1: 1.2rem;
	--spacing2: 1.9rem;
	--spacing3: 2.2rem;
	--spacing5: 3.73rem;
}

/* Resets */
html {
	box-sizing: border-box;
	font-size: 15px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: var(--fs-family);
	font-weight: var(--fs-400);
	color: var(--very-dark-blue);
	overflow-x: hidden;
}

/* Typography */
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
}

h1 {
	font-size: 2.7rem;
	font-weight: var(--fs-800);
}

h2 {
	font-weight: var(--fs-800);
}

p {
	line-height: 1.75;
	color: var(--dark-grayish-blue);
	margin-block-end: var(--spacing1);
}

a:hover,
a:active {
	cursor: pointer;
}

/* Utilities */

header,
section,
.new-stories-container {
	padding-block: var(--spacing2);
	padding-inline: var(--spacing1);
}

.button {
	display: inline-block;
	padding-block: var(--spacing1);
	padding-inline: var(--spacing2);

	color: var(--off-white);
	background-color: var(--soft-red);

	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.25rem;
}

.button:hover,
.button:active,
.button:focus {
	background-color: var(--very-dark-blue);
}

.sr-only {
	visibility: hidden;
}

/* Components */

/* Header & Nav */
header {
	--logo-size: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .title img {
	height: var(--logo-size);
	color: var(--very-dark-blue);
}

.logo-link {
	text-decoration: none;
}

.mobile-nav-toggle {
	display: none;
}

#primary-navigation ul {
	display: flex;
	gap: var(--spacing1);
}

#primary-navigation ul li {
	list-style: none;
}

#primary-navigation ul li a {
	text-decoration: none;
	color: var(--dark-grayish-blue);
}

#primary-navigation ul li a:hover,
#primary-navigation ul li a:active,
#primary-navigation ul li a:focus {
	color: var(--soft-orange);
}

@media screen and (max-width: 576px) {
	#primary-navigation {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100svh;
		background-color: hsl(240 100% 5% / 50%);
		z-index: 1000;
		opacity: 0;
		transition: opacity 350ms ease-out;
	}

	#primary-navigation ul {
		position: fixed;
		padding: 10rem 1.67rem;
		inset: 0 0 0 33%;
		background-color: var(--off-white);
		flex-direction: column;

		gap: 1.5rem;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	#primary-navigation[data-visible="true"] {
		opacity: 1;
	}

	#primary-navigation[data-visible="true"] ul {
		transform: translateX(0%);
	}

	#primary-navigation ul li a {
		color: var(--very-dark-blue);
		font-size: 1.2rem;
	}

	.mobile-nav-toggle {
		display: block;

		/* same height as logo */
		width: var(--logo-size);
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
		z-index: 1010;
		background-image: url("./assets/images/icon-menu.svg");
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		border: none;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url("./assets/images/icon-menu-close.svg");
	}
}

/* Hero */
.hero {
	padding-block-start: 0;
}

.hero-image {
	padding-block-end: var(--spacing2);
}

.hero-title {
	font-size: 2.67rem;
	line-height: 1;
	padding-block-end: var(--spacing1);
}

.hero-details p:last-of-type {
	margin-block-end: var(--spacing2);
}

@media screen and (min-width: 768px) {
	/* hero section */
	.hero {
		grid-area: 1 / 1 / 2 / 3;
	}

	.hero article {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr auto;
		gap: var(--spacing2);

		height: 100%;
	}

	.hero-image {
		grid-area: 1 / 1 / 2 / 3;
		padding-block-end: 0;
	}

	.hero-title {
		font-size: clamp(3.5rem, 4vw, 4rem);
		line-height: 1;
		max-width: 9ch;
		align-self: center;
	}

	.hero-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.hero-details .button {
		align-self: start;
	}
}

/* New Stories */
.new-stories-container {
	background-color: var(--very-dark-blue);
	display: flex;
	flex-direction: column;
	gap: var(--spacing2);
}
.new-stories-title {
	font-size: 2rem;
	font-weight: var(--fs-700);
	color: var(--soft-orange);

	line-height: 1;
}

.new-story {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid var(--grayish-blue);
}

.new-story:last-of-type {
	border-bottom: none;
}

.new-story:hover h3,
.new-story:active h3,
.new-story:focus h3 {
	color: var(--soft-orange);
}

.new-story h3 {
	font-size: 1.2rem;
	font-weight: var(--fs-700);
	margin-block-end: var(--spacing);

	color: var(--off-white);
	text-decoration: none;
}

.new-story p {
	margin-block-end: var(--spacing2);
	color: var(--grayish-blue);
}

.new-story:last-of-type p {
	margin-block-end: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
	.new-stories-container {
		display: block;
		column-count: 3;
		column-gap: var(--spacing2);
		column-rule: 1px solid var(--off-white);
	}

	.new-stories-title {
		column-span: all;
		margin-block-end: var(--spacing2);
	}

	.new-story {
		border: none;
		margin-block-end: 0;
		break-after: column;
	}
}

/* Numbered Stories */
.numbered-stories {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: var(--spacing3);
}

@media screen and (min-width: 768px) {
	.numbered-stories {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}
}

.numbered-story {
	text-decoration: none;

	display: grid;
	grid-template-columns: min(6.66rem, 13.4rem) 2fr;
	grid-template-rows: 1fr;
	gap: var(--spacing1);
}

@media screen and (min-width: 576px) and (max-width: 991px) {
	.numbered-story {
		align-items: end;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.numbered-story {
		grid-template-columns: 1fr;
	}
}

.numbered-story img {
	aspect-ratio: 100/127;
}

.numbered-story-details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: space-between;
}

.numbered-story-details h3 {
	color: var(--very-dark-blue);
	font-weight: var(--fs-800);
	font-size: 1.14rem;
}

.numbered-story-details:hover h3 {
	color: var(--soft-red);
}

.numbered-story-details h3::before {
	content: attr(data-number);
	display: block;
	color: var(--grayish-blue);
	font-weight: var(--fs-700);
	font-size: 2rem;
	line-height: 1;

	margin-block-end: var(--spacing);
}

.numbered-story-details p {
	margin-block: 0;
}

/* footer attribution */
.attribution {
	font-size: 0.69rem;
	color: var(--dark-grayish-blue);
	padding: var(--spacing1);
	text-align: center;
}

.attribution a {
	color: var(--very-dark-blue);
}

@media screen and (min-width: 992px) {
	header,
	main {
		max-width: 74rem;
		margin: 0 auto;
		padding: 0 var(--spacing3);
	}

	section {
		padding: 0;
	}

	header {
		--logo-size: 2rem;
		padding-block: 4rem;
	}

	#primary-navigation ul {
		flex-direction: row;
		gap: var(--spacing3);
	}

	#primary-navigation ul li a {
		font-size: 1rem;
	}

	main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: var(--spacing2);
		row-gap: calc(var(--spacing2) * 2);
	}

	.new-stories {
		grid-area: 1 / 3 / 2 / 4;
	}

	.numbered-stories {
		grid-area: 2 / 1 / 3 / 4;
	}

	.attribution {
		padding: var(--spacing5);
	}
}
